:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	/* font-size: 16px; */
	/* line-height: 24px; */
	/* font-weight: 400; */
	color: #f6f6f6;
	background-color: #2f2f2f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.container {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

input,
button,
select,
option {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	/* font-size: 1em; */
	font-family: inherit;
	color: #ffffff;
	background-color: #0f0f0f98;
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
input,
button,
select,
option {
	outline: none;
}
input {
	width: 36px;
}

button {
	cursor: pointer;
}

button:hover {
	border-color: #396cd8;
}

button:active {
	background-color: #0f0f0f69;
}

/* Chrome, Safari, Edge, Opera 去掉数字输入框的箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
